*{
    margin: 0;
    padding: 0;
}


//Inicio de hambuerger Icon

.menu-container {
    background: cadetblue;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    height: 40px;
    .menu-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        a {
            text-decoration: none;
            font-size: 25px;
            color: rgb(150, 47, 47);
            font-family: 'Arial Narrow Bold';
        }
    }
    .hamburger-icon{
        display: none;
    }
}

.sub-menu-container {
    background: rgb(37, 13, 145);
    display: flex;
    justify-content: center;
    padding: 20px 0;
    height: 25px;
    .sub-menu-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        a {
            text-decoration: none;
            font-size: 20px;
            color: rgb(173, 164, 164);
            font-family: 'Arial Narrow Bold';
        }
    }
}

//Inicio de header

    .header-container{
        background-image: url(https://media.istockphoto.com/photos/the-picturesque-mountain-landscape-on-the-sunset-background-picture-id1327276218?b=1&k=20&m=1327276218&s=170667a&w=0&h=j_6Bu9P8PvHu8wQvtAyxUpfBeO189peY4F1C086_7lU=);
        background-repeat: no-repeat;
        background-size: cover;

        height: 300px;
        width: 100%;
        display: flex;
        // border-bottom: solid 10px red;

        .header-main{
            width:60% ;
            display: flex;
            justify-content: center;
            align-items: center;

            h1{
                border: solid 5px  wheat;
                padding: 20px 100px;
                border-radius: 30px;
                font-size: 100px;
                background: teal;
                color: wheat;
                box-shadow: 15px 10px 5px 5px;
            }
            

        }
        .header-content{
            width: 40%;
            background: black;
            color: white;
            opacity: .7;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 20px 10px 10px 10px;
            h1{
                padding-bottom: 20px;
                font-size: 40px;
                font-family: Impact;
            }

            p{
                font-size: 25px;
                padding-bottom: 10px;
            }
        }
    }


//Final de header


//Inicio de accordion

.main-accordion-container{
    //border: 2px solid black;
    width: 100%;
    border-bottom: 3px solid black;

    .accordion-item{
         cursor: pointer;
        width: 100%;
        height: 100%    ;
        background: burlywood;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-top: 3px solid rgb(130, 30, 30);
        .accordion-tittle{
            width: 100%;
            // height: 100%;
            background: aquamarine;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
               // height: auto;
                color: rgb(84, 84, 75);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 20px;
                text-align: center;
                margin: 20px 10px ;
                pointer-events: none;
            }
        }
        .accordion-desc{
            width: 50%;
            height: 100%;
            border-left: 5px solid brown;
            display: none;
        }

        &.tab-active{
            .accordion-tittle{
                width: 50%;
                //height: auto;
              background: transparent;
                p {
                    font-size: 35px;
                    height: auto;
                    pointer-events: all;
                }
            }
            .accordion-desc{
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    font-size: 35px;
                    text-align: center;
                    margin: 10px;
                    font-size: 30px;
                    font-family: geneva;
                }
            }
        }
    }
}



//Final de accordion

//Inicio de cards
    .card-list{
        background: rgb(147,202,203);
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px 0 0 0;
        border-bottom: 2px solid black;
        .card-item{
                display: flex;
                flex-direction: column;
            width: 30%;
            height: auto;
            border: 2px solid black;
            border-radius: 20px;
            margin-bottom: 30px;
            box-shadow: 2px 2px 15px -1px black;
            overflow: hidden;

            &:hover{
                transform: scale(1.01) translateY(-5px);
                // cursor: pointer;
            }

            img{
                
                width: auto;
                max-height: 350px;
                min-height: 340px;
                object-fit: cover;
            }
            .card-info{
                max-height: 220px;
                min-height: 210px;
                padding: 10px 8px 10px 8px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .card-tittle{
                    font-size: 20px;    
                    font-weight: bold;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    text-align: center;
                }
                .card-desc{
                    font-size: 16px;
                    text-align: justify;  

                }
                .card-cta{
                    text-decoration: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    padding-right: 15px;   
                    font-size: 18px; 
                    

                    &:hover{
                        transform: scale(1.2) translateX(-30px);
                        // cursor: pointer;
                    }
                    
                    
                 }
                 a:visited{
                    color: blue;
                  }
            }
        }
    }
//Final de cards


main{
    background-image: url(/Images/descarga.jfif) ;
    background-repeat: no-repeat; 
    background-size: cover;  
    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 0;

    // padding: 15px 0 15px 0;
    
    .container-1{
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 20px 0 30px 0;
        img{
            
            width: 45%;
            padding: 20px 0 20px 0;
                // margin: 0 20px 0 20px;
                
        }

        .container-1-text{
            width: 45%;
            
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: auto;
            border: solid 2px black;
            border-radius: 5px;
            background: rgb(52, 47, 41);
            color: cornflowerblue;

            h1{
                padding: 10px 0 10px 0;
                font-size: 28px;
            }
            h2{
                padding: 0 0 10px 0;
                font-size: 23px;
                text-align: left;
            }
            p{
                font-family: serif;
                text-align: justify;
                font-size: 15px;
                padding: 0 20px 20px 20px;
            }
        }
       
    }
    .container-2{
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 20px 0 30px 0;
        img{
            
            width: 45%;
            padding: 20px 0 20px 0;
                // margin: 0 20px 0 20px;
                
        }

        .container-2-text{
            width: 45%;
            
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: auto;
            border: solid 2px black;
            border-radius: 5px;
            background: rgb(52, 47, 41);
            color: cornflowerblue;

            h1{
                padding: 10px 0 10px 0;
                font-size: 28px;
            }
            h2{
                padding: 0 0 10px 0;
                font-size: 23px;
                text-align: left;
            }
            p{
                font-family: serif;
                text-align: justify;
                font-size: 15px;
                padding: 0 20px 20px 20px;
            }
        }
       
    }

    .container-3{
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 20px 0 30px 0;
        img{
            
            width: 45%;
            padding: 20px 0 20px 0;
                // margin: 0 20px 0 20px;
                
        }

        .container-3-text{
            width: 45%;
            
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: auto;
            border: solid 2px black;
            border-radius: 5px;
            background: rgb(52, 47, 41);
            color: cornflowerblue;

            h1{
                padding: 10px 0 10px 0;
                font-size: 28px;
            }
            h2{
                padding: 0 0 10px 0;
                font-size: 23px;
                text-align: left;
            }
            p{
                font-family: serif;
                text-align: justify;
                font-size: 15px;
                padding: 0 20px 20px 20px;
            }
        }
       
    }

    
    
}


 //Inicio de Footer
 .footer-container{
    height: auto;       
    width: 100%;
    background: burlywood;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0 20px 0;

    .footer-list{
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 0 30px 0 0;
        .footer-list-tittle{
            
            border-bottom: 4px solid black;
            margin: 0 0 15px 0;
            padding: 0 0 5px 0;
            font-size: 30px;
        }
        h1{
            font-size: 25px;
        }
        p{
            font-size: 20px;
            line-height: 30px;
        }

        
    }

    .footer-space{
        width: 25%;
    }

    .footer-info{
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 0 30px 0 0;

        .footer-info-tittle{
            
            border-bottom: 4px solid black;
            margin: 0 0 15px 0;
            padding: 0 0 5px 0;
            font-size: 30px;
        }
        h1{
            font-size: 25px;
        }
        p{
            font-size: 20px;
            line-height: 30px;
        }

    }
    
}
//Final de Footer



@media(max-width: 1300x){
    //Inicio de cards
    .card-list{
        .card-item{
            img{
                max-height: 280px;
                min-height: 270px;
                object-fit: cover;
            }
        }
    }
    //final de cards

     //Inicio de Footer
 .footer-container{
       .footer-list{
            .footer-list-tittle{
                font-size: 17px;
        }
        h1{
            font-size: 17px;
        }
        p{
            font-size: 17px;
            line-height: 30px;
        }

        
    }

    .footer-space{
        width: 20%;
    }

    .footer-info{
        .footer-info-tittle{
             font-size: 17px;
        }
        h1{
            font-size: 17px;
        }
        p{
            font-size: 17px;
            line-height: 25px;
        }

    }
    
}
//Final de Footer
}


@media(max-width: 991px){
    //Inicio de hambuerger Icon
    .menu-container{
        justify-content: flex-end;
        position: relative;
        padding: 10px 0;
    .menu-list{
        display: none;
        }
        .hamburger-icon{
            z-index: 20px;
            width: 35px;
            height: 25px;
            display: block;
            padding-right: 20px;
              
           // justify-content: space-between;
            //flex-direction: column;
            //background-image: url(/app/Images/umbrella_icon.png) ;
            span {
                width: 100%;
                height: 4px;
                background: black;

            }
        }
    }
    .menu-container.menu-open{
        .menu-list{
              z-index: 20;  
            display: flex;
            width: 250px;
            height: 200px;
            border: 2px solid black;
            flex-direction: column;
            margin-top: 120px;
            margin-right: 10px;
            justify-content: space-around;
            align-content: left;
            background-color: coral;
            border-radius: 15px;
            padding: 7px;
            a{
                padding: 5px;
                color: black;
            }
            //REVISAR EL COLOR CORAL NO CUBRE

        }
    }
    .sub-menu-container{
        background: brown;
        padding: 10px 0;
        justify-content: flex-start;
        .sub-hamburger-icon{
            width: 50px;
            height: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 15px;
            span {
                
                width: 100%;
                height: 5px;
                display: block;
                background: rgb(233, 223, 223);
                border-radius: 2px;
            }
        }
        .sub-menu-list{
           display: none;
        }
    }
    .sub-menu-container.sub-menu-open{
        .sub-menu-list{
            z-index: 10;
            display: flex;
            flex-direction: column;
            width: auto;
            height: 150px;
            border: 2px solid black;
            border-radius: 15px;
            padding: 10px;
            margin: 0px 0 0 10px;
            background: burlywood;
            a{
              padding: 5px;
              font-family: Arial Narrow;
              font-size: 20 px;
              color: black;

            }
            
        }
    }
    //Final de hambuerger Icon

    //Inicio de Accordion
    .main-accordion-container{
        .accordion-item{
            flex-direction: column;
        
            .accordion-tittle{
                width: 100%;
            }

            .accordion-desc{
                border-left: none;
                border-top: 5px solid rgb(130, 30, 30);
            }  

            &.tab-active{
                .accordion-tittle{
                    width: 100%;
                    background: aquamarine;
                }
                .accordion-desc{
                    width: 100%;
                }
            }
        }
    }
    //Final de Accordion

    //Inicio de cards
    .card-list{
        .card-item{
            width: 40%;

            img{
                max-height: 240px;
                min-height: 230px;
            }
        }
    }
    //Final de cards

    //incio de main
        main{
            .container-1{
                flex-direction: column;
                border-bottom: solid 2px orange;
                img{
                height: auto;
                 width: 90%;
                 margin: 10px 0 10px 0;
                
                }
                .container-1-text{
                 
                 width: 90%;
                h2{
                    padding: 0 10px 0 10px;
                }
                }
                
                 
            }
            .container-2{
                flex-direction: column;
                border-bottom: solid 2px orange;
                img{
                height: auto;
                 width: 90%;
                 margin: 10px 0 10px 0;
                
                }
                .container-2-text{
                 
                 width: 90%;
                h2{
                    padding: 0 10px 0 10px;
                }
                }
                
                 
            }

            .container-3{
                flex-direction: column;
                
                img{
                height: auto;
                 width: 90%;
                 margin: 10px 0 10px 0;
                
                }
                .container-3-text{
                 
                 width: 90%;
                h2{
                    padding: 0 10px 0 10px;
                }
                }
                
                 
            }
        }


 //Final de main

             //Inicio de Footer
 .footer-container{
    .footer-list{
         .footer-list-tittle{
             font-size: 12px;
             border-bottom: 2px solid black;
             margin: 0 0 7px 0;
     }
     h1{
         font-size: 12px;
     }
     p{
         font-size: 11px;
         line-height: 20px;
     }

     
 }

 .footer-space{
     width: 20%;
 }

 .footer-info{
     .footer-info-tittle{
          font-size: 12px;
         
          border-bottom: 2px solid black;
          margin: 0 0 7px 0;
     }
     h1{
         font-size: 12px;
     }
     p{
         font-size: 12px;
         line-height: 20px;
     }

 }
 
}
//Final de Footer

    }

@media(max-width: 790px){
    //Inicio de cards
    .card-list{
        .card-item{
            width: 90%;
            height: auto;
            justify-content: space-between;

            img{
                height: auto;
                width: 100%;
              
            }
        }
    }
    //Final de cards



    //Inicio de Footer
 .footer-container{
    display: flex;
    flex-direction: column  ;
    .footer-list{
        padding: 10px 20px 10px 20px;
         .footer-list-tittle{
             font-size: 17px;
     }
     h1{
         font-size: 17px;
     }
     p{
         font-size: 17px;
         line-height: 30px;
     }

     
 }

 .footer-space{
     width: 20%;
 }

 .footer-info{
    padding: 10px 20px 10px 20px;
     .footer-info-tittle{
          font-size: 17px;
     }
     h1{
         font-size: 17px;
     }
     p{
         font-size: 17px;
         line-height: 25px;
     }

 }
 
}
//Final de Footer
}



