*{
    padding: 0;
    margin: 0;
    
}
:root{
    --jansu-color:rgb(18, 31, 152);
}
    body{
        border: rgb(18, 31, 152) 15px solid;
    }
    
    header{
        z-index: 1;
        
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 100%;
    }
    .header{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1.5rem 2rem 0.5rem;
        align-items: center;
        background-image: linear-gradient(
            /* rgb(15, 70, 15)80%, */
          rgb(18, 31, 152,1)55%,
            /* rgb(11, 21, 117)80%, */
            rgba(0,128,0,0)
        );
        
    }

    .logo{
        display: flex;
        align-items: center;
    }

    .logo img {
        height: 11rem;
        width: 9rem;
    }

    .logo h1{
        font-size: 2rem;
        margin-left: 0.5rem;
        text-align: center;
        font-family: 'verdana';
        color: #fff;
        -webkit-text-stroke: 1px #000; 
    }

    .hamburger-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        border: #fff 5px solid;
        border-radius: 50%;
        cursor: pointer;       
    }
        .sub-hamburger-icon{
            background-color: #fff;
            height: 0.3rem;
            width: 3rem;
            border-radius: 4px;
            transition: all 0.3s ease-in-out;
        }

        .sub-hamburger-icon::before,.sub-hamburger-icon::after{
            content: '';
            position: absolute;
            background-color: #fff;
            height: 0.3rem;
            width: 3rem;
            border-radius: 4px;
            transition: all 0.3s ease-in-out;
        }

        .sub-hamburger-icon::before{
            transform: translateY(-0.8rem);
        }

        .sub-hamburger-icon::after{
            transform: translateY(0.8rem);
        }

        .hamburger-icon.start .sub-hamburger-icon{
            transform: translateX(-2rem);
            background: transparent;
        }

        .hamburger-icon.start .sub-hamburger-icon::before{
            transform: rotate(45deg) translate(1.4rem,-1.4rem);
        }

        .hamburger-icon.start .sub-hamburger-icon::after{
            transform: rotate(-45deg) translate(1.4rem, 1.4rem);
        }

    .header-menu{
        
        z-index: 1;
        background-color:  rgb(18, 31, 152);
        /* background-color:  rgb(11, 21, 117); */
        background-image: linear-gradient(
            rgb(18, 31, 152,1)25%,   
             rgb(248, 248, 248)
           
        );
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        width: 100%;
        position: fixed;
        top: 10rem;
        left: 100%;
        transition: all 0.8s ease-in-out;
    }

    .header-menu a {
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        font-family: 'verdana';
        -webkit-text-stroke: .8px #000;
        padding: 1.45rem 2rem;
        border-radius: 75%; 
        text-align: center;

    }   

    .header-menu a:visited{
        color: #fff;
    }

    .header-menu a:hover {
        background-color: rgb(103, 53, 13);
        
        
    }

    .header-menu.show {
        left: 0;
        transition: all 0.8s ease-in-out;
       

    }

    .header-menu hr{
        width: 80%;
        height: 0.2rem;
        background-color: #fff;
        border-radius: 50%;
    }

    #tittle2{
        display: none;
       
    }

   

    
   /* INICIO DE CARDS */
    .card-list{
        margin-top: 15rem;
        background: rgb(247, 247, 247);
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px 0 0 0;
        border-bottom: 2px solid black;
        }
        .card-item{
            background: rgb(125, 181, 246);
                display: flex;
                flex-direction: column;
            width: 35rem;
            height: auto;
            border: 2px solid black;
            border-radius: 20px;
            margin-bottom: 30px;
            box-shadow: 2px 2px 15px -1px black;
            overflow: hidden;
        }
            .card-item:hover{
                transform: scale(1.01) translateY(-5px);
                cursor: pointer;
            }

            .card-item img{
                
                width: auto;
                max-height: 350px;
                min-height: 340px;
                object-fit: cover;
            }
            .card-info{
                max-height: 220px;
                min-height: 210px;
                padding: 10px 8px 10px 8px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
                .card-tittle{
                    font-size: 20px;    
                    font-weight: bold;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    text-align: center;
                }
                .card-desc{
                    font-size: 16px;
                    text-align: justify;  

                }
                .card-cta{
                    text-decoration: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    padding-right: 15px;   
                    font-size: 18px; 
                    
                    
                }
                .card-item:hover{
                        transform: scale(1) translateX(-30px);
                        cursor: pointer;
                    }
                 a:visited{
                    color: blue;
                  }
            
    
/* //Final de cards */


/* ACCORDION */
/* .main-accordion-container{

    border: 2px solid black;
    width: 100%;
    border-bottom: 3px solid black;
}   
    .accordion-item{
         cursor: pointer;
        width: 100%;
        height: 100%    ;
        background: burlywood;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-top: 3px solid rgb(130, 30, 30);
    }
        .accordion-tittle{
            width: 100%;
            /* // height: 100%; */
            /* background: aquamarine;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            p {
               /* // height: auto; */
                /* color: rgb(84, 84, 75);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 20px;
                text-align: center;
                margin: 20px 10px ;
                pointer-events: none;
            } */
        
        /* .accordion-desc{
            width: 50%;
            height: 100%;
            border-left: 5px solid brown;
            display: none;
        } */

        /* tab */
        /* .tab-active{
            
        }
        
            .accordion-tittle{
                width: 50%;
                /* //height: auto; */
              /* background: transparent;
            }
             .accordion-title p {
                    font-size: 35px;
                    height: auto;
                    pointer-events: all;
                } */
            
            /* .accordion-desc{
                display: flex;
                justify-content: center;
                align-items: center;
            }
               .accordion-desc p {
                    font-size: 35px;
                    text-align: center;
                    margin: 10px;
                    font-size: 30px;
                    font-family: geneva;
                } */ 
        
                .main-accordion-container{
                    margin-top: 7rem;
                    margin-bottom: 7rem;
                    width: 90%;
                }
                .main-accordion-container .accordion-item {
                    cursor: pointer;
                  

                
                    width: calc(100vw -30px);
                    height: 100%;
                    background: rgb(131, 172, 239);
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                            flex-direction: row;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    border-top: 3px solid #821e1e;
                  
                  }
                  
                  .main-accordion-container .accordion-item .accordion-tittle {
                    width: 100%;
                    background: rgb(1, 28, 86);
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                  }
                  
                  .main-accordion-container .accordion-item .accordion-tittle p {
                    color: #f5f5f5;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 20px;
                    text-align: center;
                    margin: 20px 10px;
                    pointer-events: none;
                  }
                  
                  .main-accordion-container .accordion-item .accordion-desc {
                    width: 50%;
                    height: 100%;
                    border-left: 5px solid brown;
                    display: none;
                  }
                  
                  .main-accordion-container .accordion-item.tab-active .accordion-tittle {
                    width: 45%;
                    background: transparent;
                  }
                  
                  .main-accordion-container .accordion-item.tab-active .accordion-tittle p {
                    font-size: 35px;
                    height: auto;
                    pointer-events: all;
                  }
                  
                  .main-accordion-container .accordion-item.tab-active .accordion-desc {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                  }
                  
                  .main-accordion-container .accordion-item.tab-active .accordion-desc p {
                    font-size: 35px;
                    text-align: center;
                    margin: 10px;
                    font-size: 20px;
                    font-family: geneva;
                  }
        
    /* FIN ACCORDION */



main{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-top: 15rem;
}

.form{
    margin-top: 7rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.form-2{
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
}

.form h2{
    font-size: 7rem;
    align-items: center;
    justify-content: center;
    color: var(--jansu-color);
}

.sub-form{

    display: flex;
    flex-direction: column;
}

.sub-form label,input,textarea{
    margin: 0.3rem 0;
    font-size: 2rem;
    width: 100%;
}

.sub-form input,textarea{
 border-radius: 15px;
 border: #000 2px solid;  
}

.sub-form textarea{
    height: 17rem;
   
}

.contacto{
    display: flex;
    flex-direction: column;
   
}

.contacto a{
    padding: 0 1rem;
    display: flex;
    align-items: center;
    margin: 2rem;
    text-decoration: none;
}

.contacto img{
    width: 5rem;
    height: 5rem;
}

.contacto a p{
    font-size: 3rem;
    text-decoration: none;
    color: var(--jansu-color);
}

.contacto a p:hover{
    font-weight: bold;
}

.visitanos{
    
    margin-top: 5rem;
    
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
}
.visitanos p{
    color: var(--jansu-color);
    font-size: 8rem;
}

.visitanos:hover{
    text-shadow: 0 0 2rem rgb(103, 53, 13);
}

.direccion{
    font-size:3rem;
    text-align: center;
    margin: 1rem 0;
}

.map{
    height: 35rem;
    width: 50%;
    border: rgb(18, 31, 152) 0.5rem solid;
    border-radius: 25px;
    box-shadow: 0 0 2rem #000;
}

.map img{
    border: solid black 1rem;
}
    .clase-gratis{
        width: 80%;
        font-size: 8rem;
    }
    .clase-gratis:hover{
        transform: scale(1.01) translateY(-5px);
        cursor: pointer;
        background-color: rgb(192, 101, 26);
        border-radius: 50%;
    }
    .horario{
        font-size: 5rem;
        color: #821e1e;
        margin-top: 4rem;
    }
    .horario2{
        font-size: 3.5rem;
        color: #821e1e;
        margin-top: 4rem;
    }
    main p{
        font-size: 2rem;
    }

    .examen_form{
     background: red;
        width: 90%;
        height: 1500px;
        color: blue;
    }

    .container-all img{
        max-width: 100%;
    }

    .container-all{
        
        position: relative;
        max-width: 1250px;
        width: 100%;
        border-radius: 25px;
        overflow: hidden;

        
    }

    .form-g{
        height: 35rem;
        width: 50%;
    }
    .slide{
       margin-top: 5rem;
        display: flex;
        transform: translate3d(0,0,0);
        transition: all 600ms;
        animation-name: autoplay;
        animation-duration: 6.5s;
        animation-direction: alternate;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }

    .item-slide{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-grow: 0;
        max-width: 100%;
    }

    .pagination{
        position: absolute;
        bottom: 20px;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .pagination-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid #fff;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
        background: rgba (255,255,255,0.5);
        margin:  0 10px;
        text-align: center;
        transition: all 300ms;
    }

    .pagination-item:hover{
        transform: scale(2);
    }

    .pagination-item img{
        display: inline-block;
        max-width: none;
        height: 100%;
        transform: scale(1);
        opacity: 0;
        transition:  all 300ms;
    }

    .pagination-item:hover img{
        opacity: 1;
         transform: scale(1);
    }

    input[id="1"]:checked ~ .slide{
        animation: none;
        transform: translate3d(0,0,0);
    }

    input[id="1"]:checked .pagination .pagination-item[for="1"]{
       background: #fff;
    }

    input[id="2"]:checked ~ .slide{
        animation: none;
        transform: translate3d(calc(-100% *1),0,0);
    }

    input[id="2"]:checked .pagination .pagination-item[for="2"]{
       background: #fff;
    }

    input[id="3"]:checked ~ .slide{
        animation: none;
        transform: translate3d(calc(-100% *2),0,0);
    }

    input[id="3"]:checked .pagination .pagination-item[for="3"]{
       background: #fff;
    }

    input[id="4"]:checked ~ .slide{
        animation: none;
        transform: translate3d(calc(-100% *2),0,0);
    }

    input[id="4"]:checked .pagination .pagination-item[for="1"]{
       background: #fff;
    }

    input[id="5"]:checked ~ .slide{
        animation: none;
        transform: translate3d(calc(-100% *2),0,0);
    }

    input[id="5"]:checked .pagination .pagination-item[for="5"]{
       background: #fff;
    }

    input[id="6"]:checked ~ .slide{
        animation: none;
        transform: translate3d(calc(-100% *2),0,0);
    }

    input[id="6"]:checked .pagination .pagination-item[for="6"]{
       background: #fff;
    }

    input[id="7"]:checked ~ .slide{
        animation: none;
        transform: translate3d(calc(-100% *2),0,0);
    }

    input[id="7"]:checked .pagination .pagination-item[for="7"]{
       background: #fff;
    }

    input[id="8"]:checked ~ .slide{
        animation: none;
        transform: translate3d(calc(-100% *2),0,0);
    }

    input[id="8"]:checked .pagination .pagination-item[for="8"]{
       background: #fff;
    }

    @keyframes autoplay{
        33%{
            transform: translate3d(cal(-100 *0),0,0);
        }
        66%{
            transform: translate3d(cal(-100 *1),0,0);
        }
        100%{
            transform: translate3d(cal(-100 *2),0,0);
        }
    }
   
      
   

    footer{
       
    }
    /* //Inicio de Footer */
 .footer-container{
    height: auto;       
    width: auto;
    background: burlywood;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0 20px 0;
 }
    .footer-enlaces{
        width: auto;
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        color: white;
        margin: 0 1rem 0 1rem;
    }
    .footer-enlaces a {
        text-decoration: none;
        width: 90%;
        color: #fff;
        font-size: 1.5rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        -webkit-text-stroke: .8px #000;
        padding: 1.45rem 2rem;
        border-radius: 75%; 
        text-align: center;

    } 
    .footer-enlaces a:link{
        text-decoration: none;
    }
    .footer-enlaces a:link{
        color: blanchedalmond;
    }
    a:link{
        color: blanchedalmond;
    }
   


    .footer-info{
        width: 90%;
        background:rgb(18, 31, 152) 15px
    }
    .footer-list{
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 0 30px 0 0;
    }
        .footer-list-tittle{
            
            border-bottom: 4px solid black;
            margin: 0 0 15px 0;
            padding: 0 0 5px 0;
            font-size: 30px;
        }
        .footer-list-tittle h1{
            font-size: 25px;
        }
        .footer-list-tittle p{
            font-size: 20px;
            line-height: 30px;
        }

        
    

    .footer-space{
        width: 25%;
    }

    .footer-info{
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 0 30px 0 0;
    }
        .footer-info-tittle{
            
            border-bottom: 4px solid black;
            margin: 0 0 15px 0;
            padding: 0 0 5px 0;
            font-size: 30px;
        }
        .footer-info-tittle h1{
            font-size: 25px;
        }
        .footer-info-tittle p{
            font-size: 20px;
            line-height: 30px;
        }

        .derechos{
            font-size: 2rem;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
          
        }
    
        .flotantes{
            display: flex;
            flex-direction: column;
            position: fixed;
            bottom: 0;
            right: 0;
            margin: 0 1rem 1rem 0;
        }
    
        .flotantes img{
            
            width: 3rem;
            height: 3rem;
        }

     
/* //Final de Footer */



    

   

    main {
        
        background-repeat: no-repeat;
        background-size: cover;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 15px 0 15px 0;
      }
      
      main .container-1 {
        margin-top: 7rem;
        width: 90%;
        /* background-color: rgb(18, 147, 217); */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 20px 0 30px 0;
      }
      
      main .container-1 img {
        width: 50%;
        padding: 20px 0 20px 0;
      }
      
      main .container-1 .container-1-text {
        width: 45%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: auto;
        border: solid 2px black;
        border-radius: 5px;
        background: #135be1;
        color: rgb(246, 248, 251);
      }
      
      main .container-1 .container-1-text h1 {
        padding: 10px 0 10px 0;
        font-size: 28px;
        text-align: center  ;
      }
      
      main .container-1 .container-1-text h2 {
        padding: 0 0 10px 0;
        font-size: 23px;
        text-align: center;
      }
      
      main .container-1 .container-1-text p {
        font-family: serif;
        text-align: justify;
        font-size: 15px;
        padding: 0 20px 20px 20px;
      }
      
      main .container-2 {
        width: 100%;
        /* background-color: rgb(18, 147, 217); */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 20px 0 30px 0;
      }
      
      main .container-2 img {
        width: 30%;
        padding: 20px 0 20px 0;
      }
      
     
      
      main .container-2 .container-2-text {
        width: 30%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: auto;
        border: solid 2px black;
        border-radius: 5px;
        background: #135be1;
        color: rgb(246, 248, 251);
      }
      
      main .container-2 .container-2-text h1 {
        padding: 10px 0 10px 0;
        font-size: 28px;
        text-align: center;
      }
      
      main .container-2 .container-2-text h2 {
        padding: 0 0 10px 0;
        font-size: 23px;
        text-align: center;
      }
      
      main .container-2 .container-2-text p {
        font-family: serif;
        text-align: justify;
        font-size: 15px;
        padding: 0 20px 20px 20px;
      }
      
      main .container-3 {
        width: 90%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 20px 0 30px 0;
      }
      
      main .container-3 img {
        width: 45%;
        padding: 20px 0 20px 0;
      }
      
      main .container-3 .container-3-text {
        width: 45%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: auto;
        border: solid 2px black;
        border-radius: 5px;
        background: #135be1;
        color: rgb(246, 248, 251);
      }
      
      main .container-3 .container-3-text h1 {
        padding: 10px 0 10px 0;
        font-size: 28px;
        text-align: center;
      }
      
      main .container-3 .container-3-text h2 {
        padding: 0 0 10px 0;
        font-size: 23px;
        text-align: center;
      }
      
      main .container-3 .container-3-text p {
        font-family: serif;
        text-align: justify;
        font-size: 15px;
        padding: 0 20px 20px 20px;
      }

 @media only screen and (min-width:769px){
        header{
            
            align-items: center;
            justify-content: space-between;
        }
        .header{
            justify-content: unset;
            width: 100%;
            background-image: none;
            background-color: rgb(18, 31, 152);
            
        }
        .hamburger-icon{
            display: none;
        }
        header hr{
            width: 80%;
            height: 0.2rem;
            background-color: #fff;
            border-radius: 50%;
        }
        .header-menu{
            flex-direction: row;
            position: unset;
            top: unset;
            justify-content: space-evenly;
            left: unset;
            background-image: linear-gradient(
            rgb(18, 31, 152,1)70%,   
             rgb(248, 248, 248)
           
        );
        }
        .header-menu hr{
            display: none;
        }
        .header-menu a{
            padding: 1rem 1rem;
            margin: 2rem 0;
            border-radius: 50%; 
        }
        
    }

   
    
    @media only screen and (max-width:768px){
        main .container-1{
            display: flex;
            flex-direction: column;
            margin-top: unset;
        }
        main .container-2{
            display: flex;
            flex-direction: column;
        }
        main .container-3{
            display: flex;
            flex-direction: column;
        }

        main .container-1 .container-1-text,
        main .container-2 .container-2-text,
        main .container-3 .container-3-text {
            width: 90%;
        }

        main .container-1 img,
        main .container-2 img,
        main .container-3 img{
            width: 90%;
        }

        .clase-gratis{
            font-size: 4rem;
        }
        .visitanos{
            font-size: 5rem;
        }
        .direccion{
            font-size: 1.5rem
        }
        .map{
            height: 90vw;
            width: 90%;
        }

        .form-2{
            flex-direction: column;
        }
        .form h2{
            font-size: 5rem;
        }

        .contacto img{
            width: 4rem;
            height: 4rem;
        }

        .contacto a p{
            font-size: 2rem;
         }

         .visitanos p{
            color: var(--jansu-color);
            font-size: 6rem;
        }
        
    }

    @media only screen and (max-width:500px){
        .visitanos{
            font-size: 3rem;
        }

        .clase-gratis{
            font-size: 2rem;
        }
         .logo img{
            width: 6rem;
            height: 6rem;

        }
        .header{
            justify-content: space-around;
           margin-right: 1rem;
        }

        .main-accordion-container .accordion-item.tab-active .accordion-tittle p {
            font-size: 20px;
        
          }

          .form h2{
            font-size: 3rem;
        }
        .contacto img{
            width: 3.5rem;
            height: 3.5rem;
        }

        .contacto a p{
            font-size: 1.8rem;
         }
         .sub-form label,input,textarea{
            font-size: 1rem;
         }
         .visitanos p{
            
            font-size: 4rem;
        }
        
                
    }

    @media only screen and (max-width:395px){
        .footer-enlaces{
            flex-direction: column;
        }
    }


    @media only screen and (max-width:700px){
        .logo img{
            width: 6rem;
            height: 6rem;
        }
        
        .header{
           
        }
    }




    @media only screen and (min-width: 600px){

        
        #tittle1{
            display: none;
        }
        #tittle2{
            font-size: 3rem;
            display: block;
        }
        
        .flotantes img{
            width: 3rem;
            height: 3rem;
        }
    
    }
   
    @media(min-width: 900x){
        .footer-enlaces{
          display: flex;
          flex-direction: column;
        }

    }

    